<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
     <script type='text/javascript'>
             function addFields(){
            var number = document.getElementById("member").value;
            var container = document.getElementById("container");
           
                container.appendChild(document.createTextNode(number));

                var input = document.createElement("input");
                var label = document.createElement("label");
                label.value=number
                input.type = "text";
                input.name=number;
                input.class="form-control"
                container.appendChild(label);
                container.appendChild(document.createElement("br"));
                container.appendChild(input);
                container.appendChild(document.createElement("br"));
                container.appendChild(document.createElement("br"));
                           
        }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
      #grad1{
  
        background: black;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #76b852, #8DC26F);
  background: -moz-linear-gradient(to top, #76b852, #8DC26F);
  background: -o-linear-gradient(to top, #76b852, #8DC26F);
  background: linear-gradient(to top, #76b852, #8DC26F);
  background-size: cover;
  background-attachment: fixed;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
    </style>
    
    <title>Headers Visualiser</title>
  </head>
  

  <body id="grad1">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-1">
      <a href="{{url_for('homepage_signup')}}" class="navbar-brand">Headers Visualizer</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">

          <form method="POST" action="/result">
              <div class="input-group">                    
                  <input type="text" class="form-control" placeholder="Search" name="url">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-secondary active"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </form>
          <div class="navbar-nav">
              <a href="{{ url_for('login') }}" class="nav-item nav-link active ml-2">Login</a>
          </div>
          <div class="navbar-nav">
            <a href="{{ url_for('register') }}" class="nav-item nav-link active ml-2">Register</a>
        </div>
      </div>
  </nav>
  <h3 style="color: red;text-align: center;margin-top: 0px;">{{query}}</h3>

    
    <!-- SHADAN WORK-->
    




    <!-- END OF NAVBAR-->
    <input type="text" class="" id="member" name="member" value="">
<a href="#" id="enter_headers" onclick="addFields()" class="btn btn-success" >Add Header </a>
    <div>
    <center><h1 class="">ENTER URL</h1></center>
  </div>
  <form method="POST"  action="/result">
  	<div class="form-row center">

  		<div class="form-group col-md-6 center">
  			<center>
      <label >Enter URL</label>
      </center>
      <input type="text" class="form-control"  name='url' >
    </div></div>
      <div class="form-row center">

  		<div class="form-group col-md-6 center" id="container">
    </div></div>
<center>

  <input  type="submit" class="btn btn-primary ">
  </center>
</form>


    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>